.main{
    margin-top: 5%;
    padding: 5%;
    min-height: 20%;
    height: auto;
    width: 100%;
    border-top: black solid 2px;

    &__article{
        &-title{
            width: 100%;
        }

        &-text{
            margin: 3% 0;
            width: 100%;
        }
    }
}